<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera.any" android:required="true" />

    <application
        android:name=".SecureCamApplication"
        android:allowBackup="false"
        android:icon="@android:drawable/ic_menu_camera"
        android:label="SecureCam"
        android:requestLegacyExternalStorage="false"
        android:supportsRtl="true"
        android:theme="@style/Theme.SecureCam">

        <activity
            android:name=".ui.camera.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
